{% extends 'index.html' %}
{% block content %}
    <div class="container">
 <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col">
                    <h1 align="center">{{ company.name }} </h1>
                     <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h6 align="center"> day of end : {{ day_of_end }}</h6>
                </div>
                  <img src="{{ company.image.url }}" class="card-img-top" alt="Company image">
            </div>
               </article>
                </div>
                <div class="col">
                    <h2> {{ company.price }} $</h2>
                    <form action="{% url 'pay_st_1' user.id company.id%}" method="post">
                        <a href="pay_st_1"><button class="btn btn-primary" type="button">Give</button></a>
                    </form>
                    <div>
                        <h2>About</h2>
                        <p class="article-content">{{ company.description }}</p>
                    </div>
                 </div>
            </div>
        </div>

        <div class="col-sm-4">
                {% for bonus in bonuses %}
                    <h2>{{ bonus.name }}</h2>
                    <h3>price: {{ bonus.price }} $</h3>
                    <p>{{ bonus.description_of_bonus }}</p>
                    <form action="{% url 'pay_st_1' %}" method="post">
                        <a href="pay_st_1"><button class="btn btn-primary" type="button">Give</button></a>
                    </form>
                {% endfor %}
        </div>
 </div>
</div>
    </div>
{% endblock %}