<!-- templates/home.html -->
{% extends 'index.html' %}
{% if title %}
    <title>{{ title }}</title>
{% else %}
    <title>Blog</title>
{% endif %}
{% block content %}
{#{% if user.is_authenticated %}#}
{#    <h1>Hi, {{ user.username }}!</h1>#}
{#{% else %}#}
{#    <p>You are not logged in</p>#}
{#{% endif %}#}
    <h1 align="center"> Cashed - it's craudfanding</h1>
    <div class="row">
        <div class="col">
            <h1 align="center"> top </h1>
            <div class="row">
    {% for company in companys %}
        <div class="col" align="center">
            <div class="card" style="width: 18rem; height: 25rem;">
                <img src="{{ company.image.url }}" height="200px" width="250px" class="card-img-top" alt="Company image">
                 <div class="card-body">
                     <div class="row">
                         <div class="col">
                                <h5 class="card-title"><a href="company/{{ company.id }}">{{ company.name }}</a></h5>
                        </div>
                         <div class="col">
                             <p class="card-text">{{ company.price }} $</p>
                         </div>
                     </div>
                     <p class="card-text"> {{ company.date_of_end }}</p>
                     <a href="company/{{ company.id }}" class="btn btn-primary">Go somewhere</a>
                 </div>
            </div>
        </div>
    {% endfor %}
</div>
        </div>
        <div class="col">
            <h1 align="center"> new </h1>
            {% for company in companys %}
            <div class="col" align="center">
                <div class="card" style="width: 18rem; height: 25rem;">
                    <img src="{{ company.image.url }}" height="200px" width="250px" class="card-img-top" alt="Company image">
                     <div class="card-body">
                         <div class="row">
                             <div class="col">
                                    <h5 class="card-title"><a href="company/{{ company.id }}">{{ company.name }}</a></h5>
                            </div>
                             <div class="col">
                                 <p class="card-text">{{ company.price }} $</p>
                             </div>
                         </div>
                         <p class="card-text"> {{ company.date_of_end }}</p>
                         <a href="company/{{ company.id }}" class="btn btn-primary">Go somewhere</a>
                     </div>
                </div>
            </div>
        {% endfor %}
            </div>
    </div>
{% endblock %}