<!-- templates/home.html -->
{% extends 'index.html' %}
{% if title %}
    <title>{{ title }}</title>
{% else %}
    <title>Blog</title>
{% endif %}
{% block content %}
{#{% if user.is_authenticated %}#}
{#    <h1>Hi, {{ user.username }}!</h1>#}
{#{% else %}#}
{#    <p>You are not logged in</p>#}
{#{% endif %}#}
    <h1>Cashed - it's craudfanding</h1>
    {% for company in companys %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="user">{{ company.author }}</a>
                    <small class="text-muted">{{ company.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2 class="article-title"><a class="mr-2" href="company/{{ company.id }}">{{ company.name }}</a></h2>
                <p class="article-content">{{ company.description }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}