 <style>
        #product-image {
            width: 400px;
            height: 400px;
        }
    </style>
{% extends 'index.html' %}
{% if title %}
    <title>{{ title }}</title>
{% else %}
    <title>Blog</title>
{% endif %}
{% block content %}
<div class="row">
    {% for company in companys %}
        <div class="col">
            <div class="card" style="width: 18rem; height: 25rem;">
                <img src="{{ company.image.url }}" height="200px" width="250px" class="card-img-top" alt="Company image">
                 <div class="card-body">
                     <div class="row">
                         <div class="col">
                                <h5 class="card-title"><a href="company/{{ company.id }}">{{ company.name }}</a></h5>
                        </div>
                         <div class="col">
                             <p class="card-text">{{ company.price }} $</p>
                         </div>
                     </div>
                     <p class="card-text"> {{ company.date_of_end }}</p>
                     <a href="company/{{ company.id }}" class="btn btn-primary">Go somewhere</a>
                 </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}